html {
       background: url(img/background.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
.rectangle{
width: 70%;
height: 80%;
border:1px solid;
margin:auto;
background: #25537b;}
