<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >

<div class="backgroundClassMainAdmin">
  <head>
    <meta charset="UTF-8" />
    <title>Банк жалоб</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <div class="top-menu">
      <div class="navbar-logo">
        <img th:src="@{/img/logo.png}"  width="200" />
      </div>
      <div class="menu-main">
        <ul>
          <li><a th:href="@{'/profileAdmin'}">Главная</a></li>
          <li><a th:href="@{'/'}">Выйти</a></li>
        </ul>
      </div>
    </div>
  </head>
<body>
<h1 align="center" class="title_label">Рассмотренные жалобы</h1>
<th:block th:each="complaint: ${complaints}">

  <form class="form_notif">
    <fieldset>
      <label th:text="${'Вопрос: ' + complaint.question.text}" class="form_label"></label>
      <label th:text="${'Автор вопроса: ' + complaint.question.sender.nickname}" class="form_label"></label>
      <label th:text="${'Получатель: ' + complaint.question.receiver.nickname}" class="form_label"></label>
      <label th:text="${'Причина жалобы: ' + complaint.description}" class="form_label"></label>
      <label th:text="${'Статус: ' + complaint.status}" class="form_label"></label>
    </fieldset>
  </form>

</th:block>

</body>
</div>

</html>
