<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="backgroundClassMain">
  <head>
    <meta charset="UTF-8" />
    <title>Новая жалоба</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <div class="top-menu">
      <div class="navbar-logo">
        <img th:src="@{/img/logo.png}"  width="200" />
      </div>
      <div class="menu-main">
        <ul>
          <li><a th:href="@{'/profile'}">Главная</a></li>
          <li><a th:href="@{'/news'}">Новости</a></li>
          <li><a th:href="@{'/notification'}">Уведомления</a></li>
          <li><a th:href="@{'/welcomeFormBack'}">Выйти</a></li>
        </ul>
      </div>
    </div>
  </head>
<body>
<h1 align="center" class="title_label">Подать жалобу</h1>
<form th:action="@{/complaintSave}" th:object="${complaint_form}" class="form_reg">
  <fieldset>

    <label th:text="${'Вопрос: ' + complaint_form.question.text}" class="form_label"></label>
    <label class="form_label"> Причина подачи жалобы <textarea type="text" id="description" placeholder="Причина" rows="7" th:field="*{description}" class="type-form"></textarea></label>

    <label><button type="submit" class="form_button">Отправить</button>
      <button type="reset" class="form_button">Очистить</button></label>

  </fieldset>
</form>
</body>
</div>

</html>