<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>EditProfile</title>
</head>
<body>
<div class="backgroundClass">
    <form class="decor" th:action="@{/editProfileAdminPost}"
          th:object="${user}" method="post"
          enctype="multipart/form-data">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            <h1>Редактировать профиль</h1>
            <h3>Роль - админ</h3>
            <label>Полное имя:</label>
            <input type="text" th:field="*{fullName}" /><br/>
            <label>Логин:</label>
            <span id = "login" th:utext="${login}"/><br/>
            <label>Пароль (от 5 до 15 символов):</label>
            <input type="text" th:field="*{password}" /><br/>

            <input type="submit" value="Редактировать профиль">
        </div>
    </form>
</div>
</body>
</html>