<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Восстановление пароля</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1 align="center" class="title_label">Восстановление пароля</h1>

<form th:action="@{/forgetForm}" th:object="${fog_form}" class="form_reg">
  <fieldset>

    <label class="form_label"> Ваше имя <input type="text" id="name" placeholder="Имя" th:field="*{name}" class="type-form"></input></label>
    <label class="form_label"> Ваш никнейм <input type="text" id="nickname" placeholder="Ник" th:field="*{nickname}" class="type-form"></input></label>
    <label class="form_label"> Ваш логин <input type="text" id="login" placeholder="Логин" th:field="*{login}" class="type-form"></input></label>
    <label class="form_label"> Новый пароль (должен содержать от 5 до 15 символов) <input type="password" id="password" placeholder="Пароль" th:field="*{password}" class="type-form"></input></label>

    <label><button type="submit" class="form_button">Подтвердить</button>
      <button type="reset" class="form_button">Очистить</button></label>

  </fieldset>
</form>
</body>
</html>