<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="backgroundClassMain">
  <head>
    <meta charset="UTF-8" />
    <title>Мои вопросы</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <div class="top-menu">
      <div class="navbar-logo">
        <img th:src="@{/img/logo.png}"  width="200" />
      </div>
      <div class="menu-main">
        <ul>
          <li><a th:href="@{'/profile'}">Главная</a></li>
          <li><a th:href="@{'/news'}">Новости</a></li>
          <li><a th:href="@{'/notification'}">Уведомления</a></li>
          <li><a th:href="@{'/'}">Выйти</a></li>
        </ul>
      </div>
    </div>
  </head>
  <body>
  <div class="followersClass">
    <div class="my-followers">
      <table>
        <tr th:each ="question : ${questions}">
          <td>
            <div class="followerProfile">
              <div class =  "BeforeQuestion">
                <a th:href="@{'/profileGuest/' + ${question.getReceiver().getIdUser()}}"><span th:text="'Вопрос для ' +${question.getReceiver().getNickname()}"></span></a>
              </div>
              <div class="followerProfile-div">
                <div class="questionProfile-head">
                  <div class = "subscriptFollower">
                    <div class="categoryName">
                      <span th:text="${question.getStatus()}"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="questionProfile-body">
                <h2 th:text="${question.getText()}"></h2>
                <div th:if="${question.status} == 'Получен ответ'" class="questionAnswer">
                  <span th:text="${question.getAnswer()}"></span>
                </div>
                <span id="SpanCategory" th:text="'Категория: ' + ${question.getCategory().getTitle()}"></span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="profileFollowerPage">
      <div class="beautyH"><h5><span>Мои вопросы</span></h5></div>
      <div class="avatarProfileFollowers">
        <img  class = "avatar-img" th:src="@{${avatarImagePath}}" alt="Avatar"/>
      </div>
      <div class="inf">
        <h3 th:utext="${Nickname}"></h3>
      </div>
    </div>
  </div>

  </body>
</div>
</html>