<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="backgroundClassMain">
    <head>
        <meta charset="UTF-8" />
        <title>Новые вопросы</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <div class="top-menu">
            <div class="navbar-logo">
                <img th:src="@{/img/logo.png}"  width="200" />
            </div>
            <div class="menu-main">
                <ul>
                    <li><a th:href="@{'/profile'}">Главная</a></li>
                    <li><a th:href="@{'/news'}">Новости</a></li>
                    <li><a th:href="@{'/notification'}">Уведомления</a></li>
                    <li><a th:href="@{'/'}">Выйти</a></li>
                </ul>
            </div>
        </div>
    </head>
    <body>
    <div class="followersClass">
        <div class="my-followers">
            <table>
                <tr th:each ="question : ${questions}">
                    <td>
                        <div class="followerProfile">
                            <div class="followerProfile-div">
                                <div class="avatarQuestion" th:if="${question.anonymous} == 'N'">
                                    <img  class = "avatar-img-question" th:src="@{${question.getSender().getAvatar()}}" alt="Avatar"/>
                                </div>
                                <div class="avatarQuestion" th:unless="${question.anonymous} == 'N'">
                                    <img  class = "avatar-img-question" src="/img/avatar2.jpg" alt="Avatar"/>
                                </div>
                                <div class="questionProfile-head">
                                    <div class="newQuestionProfile-head">
                                        <div class="followerProfile-nickname">
                                            <div th:if="${question.anonymous} == 'N'">
                                                <a th:href="@{'/profileGuest/' + ${question.getSender().getIdUser()}}"><span th:text="${question.getSender().getNickname()}"></span></a>
                                            </div>
                                            <div th:unless="${question.anonymous} == 'N'">
                                                <span>Аноним</span>
                                            </div>
                                        </div>
                                        <div th:if="${question.anonymous} == 'N'" class="NameFollower"><span th:text="${question.getSender().getName()}"></span></div>
                                    </div>
                                    <div class = "subscriptFollower">
                                        <div >
                                            <a class="quesBut" th:href="@{'/deleteQuestion/' + ${question.getIdQuestion()}}">
                                                <span>Удалить</span>
                                            </a>
                                        </div>
                                        <div class="DelBut">
                                            <a class="quesBut" th:href="@{'/complaint/'+ ${question.getIdQuestion()}}">
                                                <span>Пожаловаться</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="questionProfile-body">
                                <h2 th:text="${question.getText()}"></h2>
                                <span id="SpanCategory" th:text="'Категория: ' + ${question.getCategory().getTitle()}"></span>
                            </div>

                            <div id = "AnsBut" class = "subscriptFollower">
                                <a id="UnSubscriptButton" class="subBut" th:href="@{'/answer/' + ${question.getIdQuestion()}}">
                                    <span>Ответить</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="profileFollowerPage">
            <div class="beautyH"><h5><span>Новые вопросы</span></h5></div>
            <div class="avatarProfileFollowers">
                <img  class = "avatar-img" th:src="@{${avatarImagePath}}" alt="Avatar"/>
            </div>
            <div class="inf">
                <h3 th:utext="${Nickname}"></h3>
            </div>
        </div>
    </div>

    </body>
</div>
</html>