<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<div class="backgroundClassMain">
  <head>
    <meta charset="UTF-8" />
    <title>Уведомления</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <div class="top-menu">
      <div class="navbar-logo">
        <img th:src="@{/img/logo.png}"  width="200" />
      </div>
      <div class="menu-main">
        <ul>
          <li><a th:href="@{'/profile'}">Главная</a></li>
          <li><a th:href="@{'/news'}">Новости</a></li>
          <li><a th:href="@{'/notification'}">Уведомления</a></li>
          <li><a th:href="@{'/welcomeFormBack'}">Выйти</a></li>
        </ul>
      </div>
    </div>

  </head>
<body>
<h1 align="center" class="title_label">Уведомления</h1>
<th:block th:each="notification: ${notifications}">

  <form th:object="${notification}" th:action="@{'/notifications/doDelete/' + ${notification.idNotification}}" class="form_notif">
    <fieldset>
      <legend th:text="${notification.type}"></legend>
      <button class = "button-Exit" type="submit">х</button>
      <label th:text="${notification.content}" ></label>
    </fieldset>
  </form>

</th:block>

</body>
</div>
</html>