<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <nav class="top-menu">
    <a class="navbar-logo">
      <img th:src="@{/img/logo.png}"  width="100" />
    </a>
    <ul class="menu-main">
      <li><a href="">Work</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Story</a></li>
      <li><a href="">Shop</a></li>
      <li><a href="">Gallery</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </nav>
</head>
<body>

</body>

</html>